


* {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* .card-container { */
    /* padding: 20px; */
/* } */
section {
    background-color: rgb(204, 161, 161);
}
header {
    font-size: 41px;
    text-align: center;
    border: 20px;
    /* padding: 5px; */
    margin-bottom: 5px;
}
section h1 {
    text-align: center;
    border: 20px;
    /* padding: 5px; */
    margin-bottom: 5px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #a56d6d;
    border-radius: 7px;
    border: 20px;

}

.card1 {
    grid-column: span 1;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    border-radius: 7px;
    /* border-color: aliceblue; */
    /* background-color: aliceblue; */
    border: 50px;
}

.card2 {
    grid-column: span 1;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    border-radius: 7px;
    /* border-color: aliceblue; */
    /* background-color: aliceblue; */
}

.card3 {
    grid-column: span 1;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    border-radius: 7px;
    /* border-color: aliceblue; */
    /* background-color: aliceblue; */
}

@media only screen and (min-width: 320px) {
    main {
        grid-template-columns: 1fr;
    }

    .card1 {
        grid-column: span 1;
    }

    .card2 {
        grid-column: span 1;
    }

    .card3 {
        grid-column: span 1;
    }
}


@media only screen and (min-width: 481px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    .card1 {
        grid-column: span 1;
    }

    .card2 {
        grid-column: span 1;
    }

    .card3 {
        grid-column: span 1;
    }
}

