/* Show navigation links when screen size is larger than 600px */
@media (min-width: 600px) {
    .navigation {
        display: flex;
        list-style: none;
    }

    button {
        display: none; /* Hide hamburger button on larger screens */
    }

    ul.navigation {
        display: flex; /* Show navigation as a row */
        justify-content: space-between; /* Space out the menu items */
    }
    #myButton {
        display: none; /* Hide the hamburger button */
    }
}