* {
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    background-color: #396E94;
    grid-template-columns: 1fr 1fr;
    width: auto;
    border: 20px;
    height: 100px;
    margin: 50px;
    /* max-width: 700px; */
	margin: auto 50px;
    /* position: relative; */
}

header span {
    color: white;
    border: 50px;
    margin-top: 50px;
    text-justify: auto;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* display: block; */
    /* grid-column: auto; */
    /* text-align: center; */
}

img {
    width: auto;
    grid-column: 1 / 2;
    margin-left: 50px;
    border: 2px solid #396E94;
    height: 100px;
}

nav {
    background-color: rgb(56, 64, 68);
    display: block;
    border: 50px;
    margin: 50px;
    margin-top: 5px;
    /* margin-bottom: 2px; */
    /* grid-template-columns: auto auto; */
}

/* nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
} */

nav a {
    display: flex;
    color: white;
    /* text-align: center; */
    padding: 5rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .active {
    background-color: rgba(0,0,0,0.3);
}

h1 {
    width: auto;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    grid-column: 1 / 3;
    /* margin-top: 50px; */
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card {
    margin: 10px auto;
    border: 50px;
    list-style: none;


}

h2 {
    background-color: rgb(25, 25, 49);
    color: white;
    border: 50px;
    margin: 5px;
}
section {
    list-style: none;
}


li {
    border: 50px;
}

li a {
    border: 50px;
    margin: 5px;
}

footer {
    /* width: 100%; */
    text-align: center;
    background: #396E94;
    height: 50px;
    width: auto;
    margin: 50px;
	margin: auto 50px;
    color: white;
}

#myButton::before {
    content: "\2630"
}

#mybutton.open::before {
    content: "X";
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 2rem 2vw;
}

ul.navigation li a {
    display: block;
    padding: 3rem 2vw;
    color: white;
    text-decoration: none;
}

ul.navigation {
    display: none;
    list-style-type: none;
}

ul.navigation.open {
    display: block;
}

#darkBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    /* width: 24px; */
}

