@media (min-width: 550px) {
    nav {
        background-color: rgb(56, 64, 68);
        display: grid;
        border: 50px;
        margin: 50px;
        margin-top: 5px;
        /* margin-bottom: 2px; */
        /* grid-template-columns: auto auto; */
    }
    
    nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    
    nav a {
        display: flex;
        color: white;
        /* text-align: center; */
        padding: 5rem;
    }
}