@media (min-width: 550px) {
    nav {
        background-color: rgb(56, 64, 68);
        /* display: grid; */
        border: 50px;
        margin: 50px;
        margin-top: 5px;
        /* display: flex; */
        justify-content: space-between;
        /* margin-bottom: 2px; */
        /* grid-template-columns: auto auto; */
    }
    
    nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    
    nav a {
        display: flex;
        color: white;
        /* text-align: center; */
        padding: 5rem;
        justify-content: space-between;
    }

    #myButton {
        display: none;
    }

    ul.navigation {
        display: flex;
        justify-content: space-between;
    }
}






@media (max-width: 400px) {
    .hero img {
        object-position: top left; /* Focus on the top-left part of the image */
    }
}

@media (min-width: 401px) and (max-width: 960px) {
    .hero img {
        object-position: center; /* Focus on the center of the image */
    }
}

@media (min-width: 961px) {
    .hero img {
        object-position: top right; /* Focus on the top-right part of the image */
    }
}


